---
import Layout from '@/layouts/Layout.astro';
import Header from '@/composites/Header.astro';
import WidthLimiter from '@/components/WidthLimiter.astro';
import {
  getParentPath,
  isAdjacentPath,
  getAllArticles,
} from '@/utils/pathUtil';
import type { Article } from '@/types/file';

export async function getStaticPaths() {
  const allArticles = getAllArticles();
  return allArticles.map(({ path, title, Content }) => ({
    params: {
      slug: path
    },
    props: {
      pathNode: {
        path,
        parentPath: getParentPath(path),
      },
      article: {
        title,
        Content,
      },
      allArticles,
    },
  }));
}

const { pathNode, article, allArticles } = Astro.props;
const adjacentArticles = allArticles.filter((currentArticle: Article) => isAdjacentPath(pathNode.path, currentArticle.path));
---

<Layout title='Welcome to Astro.'>
  <Header />
  <WidthLimiter>
    <section>
      <h2>{article.title}</h2>
      <p>/{pathNode.path}</p>
      <p>Go to <a href=`/directories/${pathNode.parentPath}`>parent directory</a></p>
      
      <h3>Adjacent articles</h3>
      <ol>
        {adjacentArticles.map((adjacentArticle: Article) => (
          <li>
            <a href=`/articles/${adjacentArticle.path}`>{adjacentArticle.title}</a>
          </li>
        ))}
      </ol>

      <article.Content />
    </section>
  </WidthLimiter>
</Layout>
