---
import Layout from '@/layouts/Layout.astro';
import Header from '@/composites/Header.astro';
import Markdown from '@/composites/Markdown';
import Button from '@/components/Button';
import WidthLimiter from '@/components/WidthLimiter.astro';
import {
  getParentPath,
  isAdjacentPath,
  getAllArticles,
} from '@/utils/pathUtil';
import type { Article } from '@/types/file';

export async function getStaticPaths() {
  const allArticles = getAllArticles();
  return allArticles.map(({ path, title, Content, rawContent }) => ({
    params: {
      slug: path
    },
    props: {
      pathNode: {
        path,
        parentPath: getParentPath(path),
      },
      article: {
        title,
        Content,
        rawContent,
      },
      allArticles,
    },
  }));
}

const { pathNode, article, allArticles } = Astro.props;
const adjacentArticles = allArticles.filter((currentArticle: Article) => isAdjacentPath(pathNode.path, currentArticle.path));
---

<Layout title='Welcome to Astro.'>
  <Header />
  <WidthLimiter>
    <section>
      <Button
        onClick={`/directories/${pathNode.parentPath}`}
        client:visible
      >
        Go to parent directory
      </Button>

      <h2 class='mt-8'>{article.title}</h2>
      <p>/{pathNode.path}</p>
      <Markdown rawContent={article.rawContent} client:load/>
      
      <h3 class='mt-8'>Adjacent articles:</h3>
      <ol>
        {adjacentArticles.map((adjacentArticle: Article) => (
          <li>
            <a href=`/articles/${adjacentArticle.path}`>{adjacentArticle.title}</a>
          </li>
        ))}
      </ol>
    </section>
  </WidthLimiter>
</Layout>
