---
import IconArrowBackRounded from '~icons/material-symbols/arrow-back-rounded';
import IconHomeOutlineRounded from '~icons/material-symbols/home-outline-rounded';
import IconSubdirectoryArrowRightRounded from '~icons/material-symbols/subdirectory-arrow-right-rounded';

interface Breadcrumb {
  name: string;
  path: string;
}

const { basePath, parentPath, breadcrumbs } = Astro.props
---

<div>
  {parentPath && (
    <a
      class='block text-lg'
      href={parentPath}
    >
      <IconArrowBackRounded
        style={{ display: 'inline-block', color: 'black' }}
      />
      <span>Go back</span>
    </a>
  )}
  <div class='mt-2 first:mt-0'>
    <a
      class='block text-lg'
      href={`${basePath}`}
    >
      <IconHomeOutlineRounded
        style={{ display: 'inline-block', color: 'black' }}
      />
      {'홈'}
    </a>
    {breadcrumbs.map((breadcrumb: Breadcrumb, index: number) => (
      <a
        class='block text-lg'
        href={`${basePath}/${breadcrumb.path}`}
      >
        <IconSubdirectoryArrowRightRounded
          style={{ display: 'inline-block', color: 'black' }}
        />
        {breadcrumb.name}
      </a>
    ))}
  </div>
</div>
