---
type FlexDirection = 'left' | 'right';
const { title, subtitle, imagePath, imageDirection } = Astro.props;
const flexDirection: FlexDirection = (imageDirection === 'right') ? 'right' : 'left';
---

<div>
  <div class='sm:hidden mb-4 sm:mb-0'>
    <div class='flex flex-col items-center mx-auto'>
      {imagePath ? (
        <div class={`
          relative
          h-[240px] min-h-[240px]
          w-[75vw] max-w-[360px]
          basis-1/2
        `}>
          <img
            class={`
              h-auto w-auto
              object-contain
              rounded-3xl
            `}
            src={imagePath}
          ></img>
        </div>
      ) : ''}
    </div>
  </div>
  
  <div class='grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-3xl mx-auto'>
    {imagePath && (flexDirection === 'left') ? (
      <div class={`
        hidden sm:block
        relative
        h-[240px] min-h-[240px]
        shrink-0
      `}>
        <img
          class={`
            h-auto w-auto
            object-contain
            rounded-3xl
          `}
          src={imagePath}
        ></img>
      </div>
    ) : ''}
    <div class='flex flex-col gap-2 mx-auto sm:basis-1/2'>
      {title ? <p class='text-2xl font-bold text-center'>{title}</p> : ''}
      {subtitle ? <p class='text-xl text-center'>{subtitle}</p> : ''}
      <slot />
    </div>
    {imagePath && (flexDirection === 'right') ? (
      <div class={`
        hidden sm:block
        relative
        h-[240px] min-h-[240px]
        shrink-0
      `}>
        <img
          class={`
            h-auto w-auto
            object-contain
            rounded-3xl
          `}
          src={imagePath}
        ></img>
      </div>
    ) : ''}
  </div>  
</div>
